body{
  font-family: 'Montserrat Alternates', sans-serif;
}

h1{
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  padding: 50px 0;
  color: #fff;
}
h2{
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 1.5;
  font-size: 2.5rem;
  width: 70%;
  margin: auto;

}

.btn{
  padding: 10px;
  margin: 4px;
}

#title{
  background-color: #ff4c68;
}

.container-fluid{
  padding: 30px 150px;
}

 /* navbar section */

.navbar{
  padding: 10px 0 50px;
}
.navbar-brand{
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}
.navbar-nav{
  font-size: 1.5rem;
  font-family: sans-serif;
}
.navbar-item{
  padding: 0 19px;
}
.titimg{
  width: 50%;
  transform: rotate(25deg);
  margin-left: 100px;
}
#features{
  padding: 50px 100px;
}
.fbox{
  padding: 5%;
  text-align: center;
}
p{
  font-family: sans-serif;
  color: grey;
  font-size: 18px
}
h3{
  padding-top: 30px;
  padding-bottom: 10px;
}

/* icon we have added ourselves as class to use here */
.icon{
 color: #ef8172;
}
.icon:hover{
  color: #ff4c68;
}

/* Testimonials section */
#testimonials{
  padding: 140px 170px 0;
  background-color: #ff4c68;
  text-align: center;
  color: white;
}
.testimonial-img{
  border-radius: 90%;
  width: 25%;
  padding: 30px 40px;
}

#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 4%
}
.pressimg{
  width: 190px;
  padding: 30px 20px 20px;
}

/* pricing */
#pricing{
  padding: 50px;
  text-align: center;
}
.price{
  padding: 3% 2%;
}
/* cta section */
#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 10%;
}
.ctaheading{
  font-size: 4rem;
  padding-bottom: 2%;
}
#footer{
  padding: 7% 15%;
  text-align: center;
  font-size: 40px;
}
.footicon{
  padding: 10px;
  color: #ff4c68;
}
@media (max-width: 991px){
  #title{
    text-align: center;

  }
  .titimg{
    transform: rotate(0);
    position: static;

  }
}
